.navLink{
    position: relative;
    font-size: 26px;
    font-weight: 500;
    font-family: var(--font-paraTexto);
    color: var(--cor-letraClara);
    transition: all 0.15s ease;
}

.navLink::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #00FF9C;
    transform: translateX(-50%);
    transition: width 0.3s ease;
    box-shadow:
    0 0 6px #00FF9C,
    0 0 12px #00FF9C,
    0 0 24px rgba(0, 255, 156, 0.7),
    0 0 48px rgba(0, 255, 156, 0.4);
}

.navLink:active {
    transform: scale(0.95);
    color: #00FF9C;
    text-shadow: 0 0 8px rgba(0, 255, 156, 0.8);
}

.navLink:hover::after{
    width: 100%;
}