.sectionHero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 38px;
}

.containerImagemHero{
    position: relative;
    top: 38px;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 5.5rem;
}

.containerImagemHero span{
    position: relative;
}

.containerImagemHero span img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.containerImagemHero img {
    max-width: 100%;
    height: auto;
}

.containerImagemHero p{
    width: 220px;
    position: absolute;
    top: 15px;
    left: 15px;
    color: var(--cor-letraClara);
    font-family: var(--font-paraTexto);
    font-size: var(--font-size-xl);
}

.containerTextoHero{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.containerTextoHero h1{
    font-size: var(--font-size-4xl);
    font-family: var(--font-paraTextoChamativo);
    color: #fff;
}

.containerTextoHero p{
    font-size: var(--font-size-2xl);
    font-family: var(--font-paraTexto);
    color: #fff;
}

.containerBotaoCta{
    width: 1190px;
    display: flex;
    align-items: start;
    gap: 8rem;
    margin: 1rem 0 5rem 0;
}

@media(max-width: 1520px){
    .containerTextoHero h1{
        font-size: var(--font-size-3x2);
    }

    .containerTextoHero p{
        font-size: var(--font-size-2xl);
    }

    .containerBotaoCta{
        width: 1000px;
    }

    .containerImagemHero{
        width: 62%;
        top: 25px;
    }
}

@media(max-width: 1310px){
    .containerTextoHero h1{
        font-size: var(--font-size-3xl);
    }

    .containerTextoHero p{
        font-size: var(--font-size-xl);
    }

    .containerBotaoCta{
        width: 700px;
    }

    .containerImagemHero{
        width: 60%;
        top: 25px;
    }
}

@media(max-width: 800px){
    .containerImagemHero{
        width: 100%;
        top: 25px;
    }

    .containerBotaoCta{
        width: 500px;
        gap: 1rem;
    }
}

@media(max-width: 550px){
    .containerImagemHero{
        width: 100%;
        top: 25px;
    }

    .containerBotaoCta{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media(max-width: 500px){
    .containerImagemHero{
        top: 42px;
        width: 100%;
        margin: 2rem;
    }

    .containerImagemHero span img{
        width: 140px;
    }

    .containerImagemHero p{
        font-size: var(--font-size-xs);
        width: 120px;
    }

    .containerImagemHero img{
        width: 110px;
    }

    .containerBalaoOla{
        display: block;
    }

    .containerTextoHero h1{
        font-size: var(--font-size-2xl);
    }

    .containerTextoHero p{
        font-size: var(--font-size-md);
        padding:0;
    }
}

@media(max-width: 420px){
    .containerTextoHero h1{
        font-size: var(--font-size-xl);
    }

    .containerTextoHero p{
        font-size: var(--font-size-sm);
    }
}