.secaoHeroProdutos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 10rem 12rem;
    color: #fff;
}

.secaoHeroProdutos h1{
    text-align: center;
}

.secaoHeroProdutos span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
    color: var(--verde);
    white-space: nowrap;
}

@media(max-width: 1440px){
    .secaoHeroProdutos{
        text-align: center;
        padding: 8rem 10rem;
        color: #fff;
    }
}

@media(max-width: 1100px){
    .secaoHeroProdutos{
        padding: 6rem 2rem;
    }
}

@media(max-width: 768px){
    .secaoHeroProdutos span{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
        color: var(--verde);
        white-space: nowrap;
    }
}


@media(max-width: 420px){
    .secaoHeroProdutos{
        padding: 4rem 2rem;
    }
}