.secaoPaginaContato{
    display: flex;
    margin: 2rem 12rem;
    border-radius: 8px;
    background: var(--color-componente);
}

.secaoMeusContatos{
    width: 65%;
    background: var(--color-gradienteVerdeBottom);
    padding: 2rem 2rem;
    border-radius: 8px 0 0 8px ;
}

.secaoFormulario{
    padding: 2rem;
}

@media(max-width: 1200px){
    .secaoMeusContatos{
        width: 40%;
    }
}

@media(max-width: 1000px){
    .secaoPaginaContato{
        margin: 2rem 2rem;
    }
}

@media(max-width: 650px){
    .secaoPaginaContato{
        flex-direction: column-reverse;
        margin: 2rem 2rem;
    }

    .secaoMeusContatos{
        width: 100%;
        border-radius: 0px 0px 8px 8px;
    }
}

@media(max-width: 480px){
}