.containerForaDaInternet{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.containerForaDaInternet img{
    width: 450px;
}

.containerTexto h3{
    color: var(--cor-letraClara);
    font-family: var(--font-paraTextoChamativo);
    font-size: var(--font-size-3xl);
    padding-top: 3rem;
}

.containerTexto p{
    width: 750px;
    color: var(--cor-letraClara);
    font-family: var(--font-paraTexto);
    font-size: var(--font-size-xl);
}

@media(max-width: 480px){
    .containerForaDaInternet{
        flex-direction: column;
        gap: 2rem;
    }

    .containerForaDaInternet img{
        width: 300px;
    }

    .containerTexto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .containerTexto h3{
        color: var(--cor-letraClara);
        font-family: var(--font-paraTextoChamativo);
        font-size: var(--font-size-2xl);
    }

    .containerTexto p{
        width: auto;
        color: var(--cor-letraClara);
        font-family: var(--font-paraTexto);
        font-size: var(--font-size-lg);
    }
}