.containerForaDaInternet{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.containerForaDaInternet img{
    width: 450px;
}

.containerTexto h3{
    padding-top: 3rem;
}

.containerTexto p{
    width: 750px;
}

@media(max-width: 1400px){
    .containerForaDaInternet img{
        width: 250px;
    }

    .containerTexto p{
        width: 550px;
    }
}

@media(max-width: 480px){
    .containerForaDaInternet{
        flex-direction: column;
        gap: 2rem;
    }

    .containerForaDaInternet img{
        width: 300px;
    }

    .containerTexto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .containerTexto h3{
        font-size: var(--font-size-2xl);
    }

    .containerTexto p{
        width: auto;
        font-size: var(--font-size-lg);
    }
}