.secaoHeroServico{
    display: flex;
    align-items: center;
    padding: 8rem 10rem;
    width: 100vw;
}

.secaoHeroServico::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(0, 255, 80, 0.1);
    z-index: 0;

    animation: scanline 6s linear infinite;
}

@keyframes scanline {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100vh); }
}

.secaoHeroServico::before{
    content: '';
    position: fixed;
    inset: 0;
    background-image:
        linear-gradient(rgba(0, 255, 80, 0.03) 1px, transparent 3px),
        linear-gradient(90deg, rgba(0, 255, 80, 0.03) 1px, transparent 3px);
    background-size: 60px 60px;
    z-index: 0;
    height: 100vh;
    pointer-events: none;
}

.containerTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 0rem;
    
}

.containerTexto span{
    color: var(--verde);
}

.containerBtnCtaHero{
    display: flex;
    gap: 4rem;
}

.img{
    width: 310px;
    height: 310px;
}

@media(max-width: 1440px){
    .secaoHeroServico{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;
        padding: 3rem 2rem;
    }

    .containerTexto span{
        display: block;
        width: 100%;
        text-align: center;
    }

    .containerBtn2{
        width: 100%;
    }

    .img{
        display: none;
    }
}

@media(max-width: 1024px){
    .containerTexto{
        text-align: center;
        padding-left: 0;
    } 
}

@media(max-width: 480px){
    .containerTexto{
        padding: 0;
    }
}

@media(max-width: 350px){
    .containerTexto p {
        font-size: var(--font-size-md);
    }
}
