.secaoHeroServico{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 8rem 0rem;
}

.secaoHeroServico::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(0, 255, 80, 0.1);
    z-index: 0;

    animation: scanline 6s linear infinite;
}

@keyframes scanline {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100vh); }
}

.secaoHeroServico::before{
    content: '';
    position: fixed;
    inset: 0;
    background-image:
        linear-gradient(rgba(0, 255, 80, 0.03) 1px, transparent 3px),
        linear-gradient(90deg, rgba(0, 255, 80, 0.03) 1px, transparent 3px);
    background-size: 60px 60px;
    z-index: 0;
    height: 100vh;
    pointer-events: none;
}

.containerTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 2rem;
    
}

.containerTexto h1{
    font-size: var(--font-size-3x2);
    font-family: var(--font-paraTextoChamativo);
    color: #fff;
}

.containerTexto span{
    color: var(--verde);
}


.containerTexto p{
    font-size: var(--font-size-2xl);
    font-family: var(--font-paraTexto);
    color: #fff;
}

.containerBtnCtaHero{
    display: flex;
    gap: 4rem;
}

.img{
    width: 500px;
    height: 500px;
}

@media(max-width: 1400px){
    .containerTexto h1{
        font-size: var(--font-size-3xl);
    }

    .containerTexto p{
        font-size: var(--font-size-xl);
    }

    .img{
        width: 350px;
        height: 350px;
    }
}

@media(max-width: 1000px){
    .secaoHeroServico{
        flex-direction: column;
        padding: 3rem 0rem;
    }
    
    .img{
        width: 400px;
        height: 400px;
    }
}

@media(max-width: 720px){
    .containerBtnCtaHero{
        text-align: center;
        flex-direction: column;
        gap: 2rem;
    }
}

@media(max-width: 480px){
    .secaoHeroServico{
        flex-direction: column;
        padding: 3rem 0rem;
    }

    .containerTexto{
        padding: 0;
    }

    .containerTexto h1{
        font-size: var(--font-size-2xl);
    }

    .containerTexto p {
        font-size: var(--font-size-md);
    }

    .img{
        width: 500px;
        height: 380px;
    }
}
