.secaoHeroServico{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 0rem;
}


.containerTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 0rem;
    
}

.containerTexto span{
    color: var(--verde);
}

.containerBtnCtaHero{
    display: flex;
    gap: 4rem;
}

.img{
    width: 310px;
    height: 310px;
}

@media(max-width: 1440px){
    .secaoHeroServico{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 80vh;
        padding: 1rem;
    }

    .containerTexto span{
        display: block;
        width: 100%;
        text-align: center;
    }

    .containerBtn2{
        width: 100%;
    }

    .img{
        display: none;
    }
}

@media(max-width: 1024px){
    .containerTexto{
        text-align: center;
        padding-left: 0;
    } 
}

@media(max-width: 768px){
    .containerTexto{
        text-align: center;
        padding-left: 0;
    } 
}

@media(max-width: 480px){
    .containerTexto{
        padding: 0;
    }
}

@media(max-width: 380px){
    .secaoHeroServico{
        padding: 2rem 1rem;
    }

    .containerTexto p {
        font-size: var(--font-size-md);
    }
}
