.offcanvas{
    background: var(--color-gradienteVerde);
}

.navIitem{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media(max-width: 420px){
    :global(#offcanvasExample) {
        width: 80%;
    }
}
