.secaoHeroDetalhes{
    display: flex;
    gap: 2rem;
    padding: 4rem 12rem;
}

.divTituloHero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--cor-letraClara);
    width: 62%;
}

.divTituloHero h1{
    font-size: var(--font-size-4xl);
    font-family: var(--font-paraTextoChamativo);
}

.divTituloHero p{
    font-size: var(--font-size-xl);
    font-family: var(--font-paraTexto);
}

.ulHeroTecnologias{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 38%;
}

.ulHeroTecnologias li{
    width: 200px;
    height: 200px;
}

.ulHeroTecnologias li:nth-child(1){
    align-self: flex-end;
}

.ulHeroTecnologias li:nth-child(3){
    align-self: flex-end;
}

.ulHeroTecnologias li div img{
    width: 150px;
    height: 150px;
}

@media(max-width: 1550px){
    .secaoHeroDetalhes{
        flex-direction: column;
    }

    .divTituloHero{
        width: 82%;
    }

    .ulHeroTecnologias{
        gap: 2rem;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

@media(max-width: 1000px){
   .secaoHeroDetalhes{
        padding: 4rem 3rem;
    }
}

@media(max-width: 800px){
    .secaoHeroDetalhes{
        background-image: none !important;
    }

   .ulHeroTecnologias li{
        width: 150px;
        height: 150px;
    }

    .ulHeroTecnologias li div img{
        width: 100px;
        height: 100px;
    }
}


@media(max-width: 580px){
    .secaoHeroDetalhes{
        flex-direction: column;
        padding: 2rem 2rem;
    }

    .divTituloHero{
        width: 100%;
    }

    .divTituloHero div{
        text-align: center;
    }

    .ulHeroTecnologias{
        flex-direction: column;
        padding: 3rem;
        width: 100%;
    }

    .divTituloHero h1{
        font-size: var(--font-size-3xl);
        font-family: var(--font-paraTextoChamativo);
    }

    .divTituloHero p{
        font-size: var(--font-size-md);
        font-family: var(--font-paraTexto);
    }
}

@media(max-width: 440px){
    .ulHeroTecnologias{
        padding: 1rem;
    }

    .ulHeroTecnologias li{
        width: 120px;
        height: 120px;
    }

    .ulHeroTecnologias li div img{
        width: 80px;
        height: 80px;
    }
}