.borderWrapper {
  display: inline-block;
  padding: 3px; /* espessura da borda */
  background: #10B981;

  clip-path: polygon(50% 0%, 100% 0, 100% 16%, 100% 22%, 100% 66%, 82% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
}

.linkLogin {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 84px 10px 14px;
    color: white;
    font-family: var(--font-paraTexto);
    font-size: var(--font-size-lg);
    text-decoration: none;
    background: #0b0b0b;
    overflow: hidden;

    isolation: isolate; /* 🔥 MUITO IMPORTANTE */

    clip-path: polygon(50% 0%, 100% 0, 100% 16%, 100% 22%, 100% 66%, 82% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
}

.loginContainer{
    position: relative;
}

.loginBtnCelular{
    display: none;
}

.loginContainerDeskTop{
    display: inline-block;
}

.iconContainer {
    position: absolute;
    top: -12px;
    left: 150px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.iconContainer img {
    width: 28px;
}

.linkLogin::before {
    content: "";
    position: absolute;
    inset: 0;

    background: var(--color-gradienteVerde);

    transform: scaleX(0);
    transform-origin: center;

    filter: blur(12px); /* 🔥 começa com blur */
    opacity: 0.1;

    transition: 
        transform 0.4s ease,
        filter 0.4s ease,
        opacity 0.4s ease;

    z-index: -1; /* 🔥 garante que fique atrás */
}

/* texto fica acima */
.linkLogin span,
.linkLogin {
  position: relative;
  z-index: 1;
}

/* hover */
.linkLogin:hover::before {
  transform: scaleX(1);
  filter: blur(0); /* 🔥 termina sólido */
  opacity: .8;
}


.borderWrapper:active {
  transform: scale(0.97);
  box-shadow: 0 0 6px #10B981;
}

.borderWrapper:active .linkLogin {
  background: #050505;
}

@media(max-width: 1520px){

}

@media(max-width: 1400px){
    .linkLogin {
        padding: 10px 30px 10px 14px;
        font-size: var(--font-size-md);
    }

    .iconContainer {
        left: 90px;
    }
}

@media(max-width: 1200px){
   .linkLogin {
        font-size: var(--font-size-xs);
    } 

    .iconContainer {
        width: 20px;
        height: 20px;
        top: -5px;
        left: 80px;
    }
}

@media(max-width: 980px){
    .linkLogin {
        padding: 11px 50px 11px 14px;
        font-size: var(--font-size-md);
    }

    .iconContainer {
        width: 20px;
        height: 20px;
        top: -5px;
        left: 110px;
    }
}

@media(max-width: 480px){
    

    .loginBtnCelular{
        display: inline-block;
    }

    .loginContainerDeskTop{
        display: none;
    }
}
