.secaoParaQuemEh{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secaoParaQuemEh h3{
    padding: 2rem;
}

.ulListaParaQuemEh{
    display: flex;
    align-items: center;
    width: 70vw;
    justify-content: space-between;
    text-align: center;
    color: var(--cor-letraClara);
    font-size: var(--font-size-xl);
    font-family: var(--font-paraTextoChamativo);
    padding: 0 0 2rem 0;
}

.ulListaParaQuemEh li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1440px){
    .ulListaParaQuemEh{
        display: grid;
        width: 50vw;
        grid-template-columns: 1fr 1fr; /* 2 colunas */
        grid-template-rows: 1fr 1fr;   /* 2 linhas */
        gap: 8px; /* espaço entre os itens */
    }

    .secaoParaQuemEh{
        text-align: center;
    }
}

@media(max-width: 1024px){
    .ulListaParaQuemEh{
        width: 60vw;
    }
}

@media(max-width: 768px){
    .ulListaParaQuemEh{
        width: 90vw;
        flex-direction: column;
        gap: .5rem;
    }
}

@media(max-width: 480px){
    .ulListaParaQuemEh{
        width: 90vw;
        flex-direction: column;
        gap: 2rem;
    }
}