.secaoComoEuPenso{
    margin-bottom: 4rem;
}

.containerTexto{
    text-align: center;
    padding: 2rem 0;
}

.containerPassos{
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    gap: 4rem;
}

.divPasso1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

.divPasso2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
}

.divPasso2 > * {
    display: flex;
}

@media(max-width: 1500px){
    .containerPassos{
        padding: 0;
    }
}


@media(max-width: 1000px){
    .containerPassos{
        flex-direction: column;
        padding: 0;
    }
}

@media(max-width: 480px){
    .containerTexto h3{
        font-size: var(--font-size-2xl);
    }

    .containerTexto p{
        font-size: var(--font-size-lg);
    }
}