.sactionMeusProjetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    font-family: var(--font-paraTextoChamativo);
    color: var(--cor-letraClara);
}

.sactionMeusProjetos div h1{
    font-size: var(--font-size-3xl);
}

.sactionMeusProjetos div p{
    font-size: var(--font-size-lg);
}

.paragrafo a{
    display: inline-flex;
    align-items: center;
    gap: 6px;

    padding: 6px 12px;
    border-radius: 6px;

    font-family: var(--font-paraTexto);
    font-size: 0.85rem;
    font-weight: 500;

    color: var(--verde);
    background-color: transparent;

    border: 1px solid var(--verde);

    text-decoration: none;
    cursor: pointer;

    transition: all 0.3s ease;
}

.paragrafo a:hover{
    color: var(--cor-letraClara);
    background: var(--color-gradienteVerde);
    box-shadow: var(--box-shadow);
    transform: translateY(-2px);
}

.paragrafo a:active{
    transform: scale(0.95);
}

.filtro{
    background-color: #000;
    border-radius: 12px;
    height: 90px;
}

.sectionDadosDoProjetoCliente{
    display: flex;
    gap: 2rem;
}

.tabelaProjetosClientes{
    border-radius: 12px;
    background-color: var(--color-componente);
    width: 55%;
    padding: 1rem;
}

.detalhesProjetos{
    border-radius: 12px;
    background-color: var(--color-componente);
    height: 800px;
    width: 45%;
    padding: 1.5rem 2rem;
}

@media(max-width: 1250px){
    .tabelaProjetosClientes{
        width: 60%;
        padding: .5rem;
    }

    .detalhesProjetos{
        width: 40%;
        padding: 1rem 1.5rem;
    }

    .detalhesProjetos h2{
        font-size: var(--font-size-xl);
    }
}

@media(max-width: 850px){
    .tabelaProjetosClientes{
        width: 100%;
        padding: .5rem;
    }

    .sectionDadosDoProjetoCliente{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .detalhesProjetos{
        width: 100%;
        padding: 1rem 1.5rem;
        height: auto;
    }

    .detalhesProjetos h2{
        font-size: var(--font-size-xl);
    }

    .paragrafoData{
        font-size: var(--font-size-lg);
    }

    .paragrafo{
        font-size: var(--font-size-lg);
    }

    .paragrafo strong{
        font-size: var(--font-size-lg);
    }

    .paragrafo a{
        font-size: var(--font-size-lg);
    }
}

@media(max-width: 530px){
    .sactionMeusProjetos div h1{
        font-size: var(--font-size-2xl);
    }
}

@media(max-width: 360px){
    .detalhesProjetos h2{
        font-size: var(--font-size-lg);
    }

    .paragrafoData{
        font-size: var(--font-size-md);
    }

    .paragrafo{
        font-size: var(--font-size-md);
    }

    .paragrafo strong{
        font-size: var(--font-size-md);
    }

    .paragrafo a{
        font-size: var(--font-size-md);
    }
}

@media(max-width: 290px){
    .detalhesProjetos h2{
        font-size: var(--font-size-md);
    }

    .paragrafoData{
        font-size: var(--font-size-sm);
    }

    .paragrafoData strong{
        font-size: var(--font-size-sm);
    }

    .paragrafo{
        font-size: var(--font-size-sm);
    }

    .paragrafo strong{
        font-size: var(--font-size-sm);
    }

    .paragrafo a{
        font-size: var(--font-size-sm);
    }
}