.breadcrumbNav{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background: var(--color-componente);
    height: 80px;
    width: 100%;
}

.breadcrumb{
    display: flex;
    gap: .6rem;
    margin: 0;
}

.breadcrumbItem{
    color: var(--cor-letraClara);
    font-family: var(--font-paraTextoChamativo);
    font-size: 30px;
}

.active {
  color: var(--verde); /* ou sua cor de item atual */
  pointer-events: none;
  font-weight: 600;
}