.secaoQuemSouEu{
    display: flex;
    align-items: center;
    padding: 3rem 12rem;
}

.divQuemSouEuTexto{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


@media(max-width: 1250px){
    .divQuemSouEuTexto h3{
        font-size: var(--font-size-2xl);
    }  

    .divQuemSouEuTexto p{
        font-size: var(--font-size-lg);
    }

    .imagemQuemSou{
        width: 60%;
    }
}

@media(max-width: 900px){
    .secaoQuemSouEu{
        padding: 3rem 3rem;
    }
}

@media(max-width: 700px){
    .secaoQuemSouEu{
        flex-direction: column-reverse;
        padding: 3rem 2rem;
    }

    .divQuemSouEuTexto div{
        text-align: center;
        margin-bottom:1rem; 
    };
}

@media(max-width: 480px){
    

    

    .imagemQuemSou{
        width: 100%;
    }
}