.linkComIconeDiv{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    font-size: 22px;
    font-weight: 500;
    font-family: var(--font-paraTexto);
    color: var(--cor-letraClara);
    padding-bottom: 0.3rem;
    transition: all 0.15s ease;
}

.linkComIconeDiv::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #0A0A0A;
    transform: translateX(-50%);
    transition: width 0.3s ease;
    box-shadow:
    0 0 6px #0A0A0A,
    0 0 12px #0A0A0A,
    0 0 24px rgba(10, 10, 10, 0.7),
    0 0 48px rgba(10, 10, 10, 0.4);
}

.linkComIconeDiv:active {
    transform: scale(0.95);
    color: #00FF9C;
    text-shadow: 0 0 8px rgba(0, 255, 156, 0.8);
}

.linkComIconeDiv:hover::after{
    width: 100%;
}

@media(max-width: 1725px){
    .linkComIconeDiv{
        font-size: var(--font-size-xl);
    }
}

@media(max-width: 1350px){
    .linkComIconeDiv{
        font-size: var(--font-size-ms);
    }

    .linkComIconeDiv img{
        width: 40px;
    }
}