.botaoDash{
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 220px;
    width: 350px;
    background-color: var(--color-componente);
    border-radius: 12px;
    font-size: var(--font-size-2xl);
}

@media(max-width: 1750px){
    .botaoDash{ 
        height: 200px;
        width: 300px;
    }  
}

@media(max-width: 1250px){
    .botaoDash{ 
        font-size: var(--font-size-xl);
        height: 150px;
        width: 250px;
    }  
}


@media(max-width: 630px){
    .botaoDash{ 
        height: 140px;
        width: 100%;
    }  
}

