.sectionOqueEuFaco{
    display: flex;
    flex-direction: column;
    padding: 0 12rem;
}

.containerTexto{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.containerTexto p{
    width: 40vw;
}

.divInfoOqueEuFaco{
    display: flex;
    justify-content: space-around;
}

.divConteinerComOsTexto{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
    width: 100%;
}

@media(max-width: 1500px){
    .sectionOqueEuFaco{
        display: flex;
        flex-direction: column;
        padding: 0 6rem;
    }
}

@media(max-width: 900px){
    .sectionOqueEuFaco{
        padding: 0 2rem;
    }

    .divConteinerComOsTexto{
        width: 100%;
        gap: 3rem;
    }

    .containerTexto p{
        font-size: var(--font-size-lg);
        width: 70vw;
    }
}

@media(max-width: 600px){
    .divConteinerComOsTexto{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 4rem;
        width: 100%;
    }

    .sectionOqueEuFaco{
        padding: 0 1rem;
    }

    .containerTexto h3{
        font-size: var(--font-size-2xl);
    }

    .containerTexto p{
        width: 80vw;
        font-size: var(--font-size-md);
    }
}