.sectionResetSenha{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin: 10rem 0rem;
    color: var(--cor-letraClara);
}

.formResetSenha{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border-radius: 12px;
    background: var(--color-componente);
    padding: 2rem 2rem;
}

.formResetSenha h2{
    font-family: var(--font-paraTextoChamativo);
    font-size: var(--font-size-2xl);
    text-align: center;
}

.formResetSenha p{
    text-align: center;
    font-family: var(--font-paraTexto);
    font-size: var(--font-size-lg);
}

.formResetSenha div{
    width: 100%;
}

@media (max-width: 1570px){
   .formResetSenha{
        width: 42%;
    } 
}

@media (max-width: 570px){
    .sectionResetSenha{
        height: 90vh;
        margin: 2rem 0rem;
    }

   .formResetSenha{
        width: 80%;
        padding: 1rem;
    } 

    .formResetSenha p{
        font-size: var(--font-size-md);
    }
}