.secaoMotivacao{
    max-width: 60%;
}

.secaoMotivacao h3{
    font-size: var(--font-size-3x2);
}

.secaoMotivacao p{
    font-size: var(--font-size-2xl);
    line-height: 1.3;
}

@media(max-width: 1000px){
    .secaoMotivacao{
        max-width: 100%;
    }
}

@media(max-width: 480px){
    .secaoMotivacao{
        max-width: 100%;
    }

    .secaoMotivacao h3{
        font-size: var(--font-size-3xl);
    }

    .secaoMotivacao p{
        font-size: var(--font-size-xl);
        line-height: 1.3;
    }
}