.secaoMotivacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    max-width: 80%;
    height: 50vh;
}


@media(max-width: 1440px){
    .secaoMotivacao{
        max-width: 100%;
    }
}

@media(max-width: 480px){
    .secaoMotivacao{
        max-width: 100%;
    }
}