.homeDashborardAdm{
    height: 100%;
    display: flex;
}

.sectionAcoes{
    width: 100%;
}

.divAcoes{
    font-family: var(--font-paraTextoChamativo);
    color: var(--cor-letraClara);
    padding: 3rem 5rem;
}

.divTabelaProjetos{
    background: #111;
    border-radius: 16px;
    width: 60%;
}

.gridBotoesLinks{
    padding: 2rem;
}

.botoesLink1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.botoesLink2{
    display: flex;
    justify-content: space-between;
}

.botoesLink2 div{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}