.secaoGerarValor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerTexto{
    text-align: center;
}

.btnLista{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 2rem 0;
    gap: 2rem;
}

@media(max-width: 480px){
    .containerTexto h3{
        font-size: var(--font-size-2xl);
    }

    .containerTexto p{
        font-size: var(--font-size-lg);
    }

    .btnLista{
        flex-direction: column;
    }
}