.sectionHero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 12rem;
    height: 110vh;
}

.sectionHero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(0, 255, 80, 0.1);
    z-index: 0;

    animation: scanline 6s linear infinite;
}

.containerTextoHero span{
    display: block;
    color: var(--verde);
}

@keyframes scanline {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100vh); }
}

.sectionHero::before{
    content: '';
    position: fixed;
    inset: 0;
    background-image:
        linear-gradient(rgba(0, 255, 80, 0.03) 1px, transparent 3px),
        linear-gradient(90deg, rgba(0, 255, 80, 0.03) 1px, transparent 3px);
    background-size: 60px 60px;
    z-index: 0;
    height: 100vh;
    pointer-events: none;
}

.containerImagemHero{
    position: relative;
    top: 38px;
    display: flex;
    justify-content: start;
    width: 100%;
    z-index: 100;
}

.containerImagemHero img {
    max-width: 100%;
    height: auto;
}

.containerImagemHero p{
    width: 220px;
    position: absolute;
    top: 15px;
    left: 15px;
    color: var(--cor-letraClara);
    font-family: var(--font-paraTexto);
    font-size: var(--font-size-xl);
}

.containerTextoHero{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

#textoColorido{
    color: var(--verde);
}

.containerBotaoCta{
    width: 92%;
    display: flex;
    align-items: start;
    gap: 7rem;
    margin: 1rem 0 5rem 0;
    z-index: 100;
}

/*desktop*/
@media(max-width: 1440px){
    .sectionHero{
        padding: 0 8rem;
        height: 100vh;
    }

    .containerImagemHero{
        width: 100%;
        top: 25px;
    }

    .containerImagemHero img{
        width: 150px;
    }
}

/*notebook*/
@media(max-width: 1024px){
    .containerImagemHero{
        top: 25px;
    }

    .sectionHero{
        padding: 0 4rem;
    }
}

/*Tablet*/
@media(max-width: 768px){
    .sectionHero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 3rem;
        margin-top: 2rem;
    }

    .containerTextoHero{
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .containerImagemHero img{
        width: 150px;
    }

    .containerImagemHero{
        width: 70%;
        top: 25px;
    }

    .containerBotaoCta{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

/*Celular grande*/
@media(max-width: 480px){
    .containerImagemHero{
        top: 52px;
        width: 50%;
        margin: 2rem;
    }

    .containerImagemHero p{
        font-size: var(--font-size-md);
        width: 120px;
    }

    .containerImagemHero img{
        width: 100px;
    }
}

/*Celular pequeno*/
@media(max-width: 350px){
    .sectionHero{
        padding: 0 24px;
    }

    .containerTextoHero p{
        font-size: var(--font-size-md);
        padding:0;
    }
}

@media(max-width: 300px){
    .containerTextoHero h1{
        font-size: var(--font-size-2xl);
    }

    .containerTextoHero p{
        font-size: var(--font-size-sm);
        padding:0;
    }
}