.sectionHero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 38px;
    height: 100vh;
}

.sectionHero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(0, 255, 80, 0.05);
    z-index: 0;

    animation: scanline 6s linear infinite;
}

@keyframes scanline {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100vh); }
}

.sectionHero::before{
    content: '';
    position: fixed;
    inset: 0;
    background-image:
        linear-gradient(rgba(0, 255, 80, 0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 255, 80, 0.03) 1px, transparent 1px);
    background-size: 60px 60px;
    z-index: 0;
    height: 100vh;
    pointer-events: none;
}

.containerImagemHero{
    position: relative;
    top: 38px;
    display: flex;
    justify-content: space-between;
    width: 75%;
    z-index: 100;
}

.containerImagemHero span{
    position: relative;
}

.containerImagemHero span img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.containerImagemHero img {
    max-width: 100%;
    height: auto;
}

.containerImagemHero p{
    width: 220px;
    position: absolute;
    top: 15px;
    left: 15px;
    color: var(--cor-letraClara);
    font-family: var(--font-paraTexto);
    font-size: var(--font-size-xl);
}

.containerTextoHero{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.containerTextoHero h1{
    font-size: var(--font-size-4xl);
    font-family: var(--font-paraTextoChamativo);
    color: #fff;
}

#textoColorido{
    color: var(--verde);
}

.containerTextoHero p{
    font-size: var(--font-size-2xl);
    font-family: var(--font-paraTexto);
    color: #fff;
}

.containerBotaoCta{
    width: 1190px;
    display: flex;
    align-items: start;
    gap: 8rem;
    margin: 1rem 0 5rem 0;
    z-index: 100;
}

@media(max-width: 1520px){
    .containerTextoHero h1{
        font-size: var(--font-size-3x2);
    }

    .containerTextoHero p{
        font-size: var(--font-size-2xl);
    }

    .containerBotaoCta{
        width: 1000px;
    }

    .containerImagemHero{
        width: 62%;
        top: 25px;
    }
}

@media(max-width: 1310px){
    .containerTextoHero h1{
        font-size: var(--font-size-3xl);
    }

    .containerTextoHero p{
        font-size: var(--font-size-xl);
    }

    .containerBotaoCta{
        width: 700px;
    }

    .containerImagemHero{
        width: 60%;
        top: 25px;
    }
}

@media(max-width: 800px){
    .containerImagemHero{
        width: 100%;
        top: 25px;
    }

    .containerBotaoCta{
        width: 500px;
        gap: 1rem;
    }
}

@media(max-width: 550px){
    .containerImagemHero{
        width: 100%;
        top: 25px;
    }

    .containerBotaoCta{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media(max-width: 500px){
    .sectionHero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .containerImagemHero{
        top: 42px;
        width: 100%;
        margin: 2rem;
    }

    .containerImagemHero span img{
        width: 140px;
    }

    .containerImagemHero p{
        font-size: var(--font-size-md);
        width: 120px;
    }

    .containerImagemHero img{
        width: 110px;
    }

    .containerTextoHero{
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .containerTextoHero h1{
        font-size: var(--font-size-3xl);
    }

    .containerTextoHero p{
        font-size: var(--font-size-lg);
        padding:0;
    }
}

@media(max-width: 350px){
    .containerTextoHero h1{
        font-size: var(--font-size-2xl);
    }
}

@media(max-width: 250px){
    .containerTextoHero h1{
        font-size: var(--font-size-xl);
    }
}