.secao{
    position: relative;
    background: var(--cor-containerCortado);
    width: 100%;
    height: 100%;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    padding: 9rem 12rem 0 12rem;
}

.containerPresencaDigital h2{
    font-size: var(--font-size-3xl);
    font-family: var(--font-paraTextoChamativo);
    color: #fff;
}

.containerPresencaDigital p{
    width: 48%;
    font-size: var(--font-size-xl);
    font-family: var(---font-paraTexto);
    color: #fff;
    padding-top: 0.6rem;
    margin: 0;
}

.containerForaDaInternet{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.containerForaDaInternet img{
    width: 450px;
}

.containerTexto h3{
    color: var(--cor-letraClara);
    font-family: var(--font-paraTextoChamativo);
    font-size: var(--font-size-3xl);
    padding-top: 3rem;
}

.containerTexto p{
    width: 750px;
    color: var(--cor-letraClara);
    font-family: var(--font-paraTexto);
    font-size: var(--font-size-xl);
}

@media(max-width: 480px){

    .secao {
        clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
        padding: 9rem 2rem 0 2rem;
    }

    .containerPresencaDigital h2{
        font-size: var(--font-size-2xl);
    }

    .containerPresencaDigital p{
        width: 90%;
        font-size: var(--font-size-lg);
        margin: 0;
    }

    .containerForaDaInternet{
        flex-direction: column;
        gap: 2rem;
    }

    .containerTexto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .containerTexto h3{
        color: var(--cor-letraClara);
        font-family: var(--font-paraTextoChamativo);
        font-size: var(--font-size-2xl);
    }

    .containerTexto p{
        width: auto;
        color: var(--cor-letraClara);
        font-family: var(--font-paraTexto);
        font-size: var(--font-size-lg);
    }

    .containerForaDaInternet img{
        width: 300px;
    }
}