.secaoTelaCadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secaoTelaCadastro div{
    align-self: flex-start;
    font-family: var(--font-paraTextoChamativo);
    color: var(--cor-letraClara);
}

.secaoTelaCadastro div h1{
    font-size: var(--font-size-3xl);
}

.formDadosCliete{
    background-color: var(--color-componente);
    width: 65%;
    padding: 3rem 4rem;
    border-radius: 12px;
}

.erro{
    color: var(--vermelho-erro);
}

.div2{
    display: flex;
    gap: 1rem;
}

.div2 > * {
    flex: 1; /* cada input ocupa metade igual */
}

.div3{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.div3 > * {
    flex: 1; /* cada input ocupa metade igual */
}

@media(max-width: 960px){
    .secaoTelaCadastro{
        width: 100%;
        padding: 3rem;
    }

    .formDadosCliete{
        width: 90%;
    }
}

@media(max-width: 660px){
    .secaoTelaCadastro{
        padding: 1rem;
    }

    .formDadosCliete{
        width: 100%;
    }
}

@media(max-width: 550px){
    .div2{
        flex-direction: column;
        gap: 0;
    }

    .div2 > * {
        flex: 0; /* cada input ocupa metade igual */
    }

    .div3{
        flex-direction: column;
        gap: 0;
    }

    .secaoTelaCadastro div h1{
        font-size: var(--font-size-2xl);
    }

    .secaoTelaCadastro div p{
        font-size: var(--font-size-lg);
    }
}

@media(max-width: 400px){
    .formDadosCliete{
        padding: 1rem;
    }

    
}