.secaoHeroSobreMim{
    display: flex;
    align-items: center;
    padding: 4rem 12rem;
}

.containerTextoSobreMimHero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 2rem;
    color: #fff;
}

.imgSobreMim{
    width: 55%;
}

@media(max-width: 1250px){
    .imgSobreMim{
        width: 45%;
        height: 100%;
    }
}

@media(max-width: 1024px){
    .secaoHeroSobreMim{
        padding: 4rem 3rem;
    }
}

@media(max-width: 768px){
    
}

@media(max-width: 570px){
    .secaoHeroSobreMim{
        padding: 2rem 2rem;
        flex-direction: column;
    }

    .containerTextoSobreMimHero{
        gap: 0.3rem;
        padding:0;
    }

    .containerTextoSobreMimHero div{
        text-align: center;
    }

    .imgSobreMim{
        width: auto;
    }
}