.secaoAlemDeCodigo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0;
}

.containerTexto{
    text-align: center;
    margin-bottom: 2rem;
}

.containerOqueEuEntrego{
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerOqueEuEntrego img{
    width: 580px;
    height: 750px;
}

.ulLista{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    width: 40%;
}

@media(max-width: 480px){
    .secaoAlemDeCodigo{
        padding:0;
    }

    .containerOqueEuEntrego{
        flex-direction: column;
    }

    .containerOqueEuEntrego img{
        display: none;
    }

    .containerTexto h3{
        font-size: var(--font-size-2xl);
       
    }

    .containerTexto p{
        font-size: var(--font-size-md);
    }
    
    .ulLista{
        width: 100%;
    }
}