.formDadosCliete{
    background-color: var(--color-componente);
    border-radius: 12px;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    max-height: 100%;
}

.div2{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.div4{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

