.containerRedesParaContato{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
}

.divContainerTexto{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
}

.divContainerTexto h3{
    font-size: var(--font-size-3x2);
}

.divContainerTexto p{
        font-size: var(--font-size-xl);
    }

@media(max-width: 1440px){
    .divContainerTexto h3{
        font-size: var(--font-size-3xl);
    }
}

@media(max-width: 1150px){
    .divContainerTexto h3{
        font-size: var(--font-size-2xl);
    }

    .divContainerTexto p{
        font-size: var(--font-size-lg);
    }
}