.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    margin: 1.5rem 0 0 0;
    background: #000;
}

.ul{
   display: flex;
   gap: 3rem;
}

@media(max-width: 1520px){
    
}

@media(max-width: 1310px){
    
}

@media(max-width: 480px){
    .nav{
        width: 85%;
    }

    .ul{
        display: none;
    }
}

