.containerPresencaDigital h3{
    font-family: var(--font-paraTextoChamativo);
    color: #fff;
}

.containerPresencaDigital p{
    width: 48%;
    font-family: var(---font-paraTexto);
    padding-top: 0.6rem;
    margin: 0;
}

@media(max-width: 480px){
    .containerPresencaDigital h2{
        font-size: var(--font-size-2xl);
    }

    .containerPresencaDigital p{
        width: 90%;
        font-size: var(--font-size-lg);
        margin: 0;
    }
}