:root{
    /*fontes peso*/
    --font-size-xs: 0.75rem;   
    --font-size-sm: 0.875rem;  
    --font-size-md: 1rem;      
    --font-size-lg: 1.25rem;  
    --font-size-xl: 1.5rem;   
    --font-size-2xl: 2rem;   
    --font-size-3xl: 2.8rem;
    --font-size-3x2: 3.5rem;
    --font-size-4xl: 5rem;

    /*Cores*/
    
}