.sectionLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    position: relative;
    padding: 4rem 10rem;
}

.containerFormularioLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 3rem;
}

.containerFormularioLogin a{
    align-self: flex-end;
}

.formLogin{
    display: flex;
    flex-direction: column;
    background: var(--color-componente);
    border-radius: 12px;
    padding: 2rem;
    width: 100%;
}

.containerTexto{
    text-align: center;
    padding-bottom: 1rem;
}

.containerTexto h3{
    font-size: var(--font-size-3x2);
}

.containerTexto p{
    font-size: var(--font-size-lg);
}

.containerEsqueceuAhSenha{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-md);
    margin-bottom: 2rem;
}

.containerEsqueceuAhSenha div{
    padding: 0;
}

.erro {
  color: var(--vermelho-erro);
  font-size: 14px;
  margin-top: 2px;
}

@media(max-width: 1100px){
    .containerFormularioLogin{
        padding: 3rem;
        width: 100%;
    }

    .formLogin{
        width: 100%;
    }

    .sectionLogin{
        padding: 1rem 4rem;
    }
}

@media(max-width: 600px){
    .containerFormularioLogin{
        padding: 1rem;
    }

    .sectionLogin{
        padding: 1rem;
    }
}

@media(max-width: 430px){
    .containerTexto h3{
        font-size: var(--font-size-xl);
    }

    .containerTexto p{
        font-size: var(--font-size-sm);
    }  
}

@media(max-width: 300px){
    .containerTexto h3{
        font-size: var(--font-size-lg);
    }

    .containerTexto p{
        font-size: var(--font-size-sm);
    }  
}

