.sectionConsultarCliente{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.divTextoEhTitulo{
    color: var(--cor-letraClara);
}

.divTextoEhTitulo h1{
    font-family: var(--font-paraTextoChamativo);
    font-size: var(--font-size-3xl);
}

.divTextoEhTitulo p{
    font-size: var(--font-size-lg);
    margin: 0;
}

.divFiltroCliente{
    background-color: var(--color-componente);
    border-radius: 12px;
    height: 80px;
    width: 100%;
}

.divTabelaClientes{
    background-color: var(--color-componente);
    border-radius: 12px;
    min-height: 100%;
    margin-bottom: 3rem;
}