.secaoHeroDetalhes{
    display: flex;
    align-items: center;
    min-height: 90vh;
    gap: 3rem;
    padding: 4rem 12rem;
}

.divTituloHero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: var(--cor-letraClara);
    width: 50%;
}

.divTituloHero div{
    display: flex;
    gap: 2rem;
}

.divHeroImagemProjeto {
    display: flex;
    align-items: center;
    border: 3px solid var(--verde);
    border-radius: 14px;
    padding: 2rem;
    max-height: 380px;

    position: relative;
    overflow: hidden;

    box-shadow: 0 0 15px rgba(0,255,150,0.4);

    transition: all 0.3s ease;
}

/* brilho base */
.divHeroImagemProjeto::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 14px;
    background: radial-gradient(circle at 50% 50%, rgba(0,255,150,0.15), transparent 70%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* efeito de luz passando */
.divHeroImagemProjeto::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,0.2),
        transparent
    );
    transition: all 0.6s ease;
}

/* hover */
.divHeroImagemProjeto:hover {
    transform: scale(1.02);
    box-shadow: 0 0 30px rgba(0,255,150,0.4);
}

/* ativa brilho */
.divHeroImagemProjeto:hover::before {
    opacity: 1;
}

/* animação da luz */
.divHeroImagemProjeto:hover::after {
    left: 120%;
}

.imagemProjeto {
    max-width: 100%;
    max-height: 310px;
    border-radius: 12px;

    transition: transform 0.3s ease;
}

/* leve zoom na imagem */
.divHeroImagemProjeto:hover .imagemProjeto {
    transform: scale(1.05);
}

@media(max-width: 1440px){
    .secaoHeroDetalhes{
        flex-direction: column;
    }

    .divTituloHero{
        width: 82%;
    }
}

@media(max-width: 1024px){
   .secaoHeroDetalhes{
        padding: 4rem 3rem;
    }
}

@media(max-width: 768px){
    .secaoHeroDetalhes{
        background-image: none !important;
    }

    .imagemProjeto{
        max-width: 100%;
        max-height: 380px;
        border-radius: 12px;
    }

    .divHeroImagemProjeto {
        padding: .8rem;
    }

    .divTituloHero div{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 480px){
    .secaoHeroDetalhes{
        flex-direction: column;
        padding: 5rem 2rem 0rem 2rem;
    }

    .divTituloHero{
        width: 100%;
    }

    .divTituloHero h1{
        font-size: var(--font-size-3xl);
        font-family: var(--font-paraTextoChamativo);
    }

    .divTituloHero p{
        font-size: var(--font-size-md);
        font-family: var(--font-paraTexto);
    }
    
    .imagemProjeto{
        max-width: 100%;
        max-height: auto;
        border-radius: 12px;
    }

    .divHeroImagemProjeto{
        max-height: auto;
        gap: 0;
    }
}