.secaoComoEuPenso{
    margin-bottom: 4rem;
}

.containerTexto{
    text-align: center;
    padding: 2rem 0;
}

.containerPassos{
    display: flex;
    padding: 0 9rem;
    gap: 4rem;
}

.divPasso1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;
}

.divPasso2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

@media(max-width: 1500px){
    .containerPassos{
        padding: 0;
    }
}

@media(max-width: 480px){
    .containerPassos{
        flex-direction: column;
        padding: 0;
    }

    .containerTexto h3{
        font-size: var(--font-size-2xl);
    }

    .containerTexto p{
        font-size: var(--font-size-lg);
    }
}