.secaoFuncionalidade{
    text-align: center;
    padding: 3rem 12rem;
}

.ulFuncionalidade{
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

@media(max-width: 1570px){
    .secaoFuncionalidade{
        padding: 3rem 6rem;
    }
}

@media(max-width: 1380px){
    .secaoFuncionalidade{
        padding: 3rem;
    }
}

@media(max-width: 880px){
    .secaoFuncionalidade{
        padding: 3rem 2rem;
    }

    .ulFuncionalidade{
        align-items: center;
        flex-direction: column;
        gap: 4rem;
    }

    .secaoFuncionalidade h3{
        font-size: var(--font-size-2xl);
    }

    .secaoFuncionalidade p{
        font-size: var(--font-size-lg);
    }
}