.divVerdeMotivacao{
    padding: 4rem 12rem;
    display: flex;
    justify-content: center;
    text-align: center;
    background: var(--color-gradienteVerdeBottom);
    clip-path: polygon(0% 2%, 100% 0, 100% 100%, 0% 100%);
}

@media(max-width: 480px){
    .divVerdeMotivacao{
        padding: 4rem 2rem;
    }
}