.secaoTelaCadastro{
    align-items: center;
    display: flex;
    width: 100vw;
}

.secaoFormularioCadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 5rem;
}

.secaoFormularioCadastro h3{
    text-align: center;
    font-size: var(--font-size-2xl);
}

.secaoFormularioCadastro p {
    text-align: center;
    font-size: var(--font-size-lg);
}

.secaoFormularioCadastro a{
    align-self: flex-end;
}

.formCadastro{
    display: flex;
    flex-direction: column;
    background: var(--color-componente);
    border-radius: 12px;
    padding: 2rem;
}

.divContainerInputNumero{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
}

.erro{
    color: var(--vermelho-erro);
}