.secaoGerarValor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.containerTexto{
    text-align: center;
}

.btnLista{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
    gap: 2rem;
}

.containerTexto h3{
    font-size: var(--font-size-4xl);
}

.containerTexto p{
    font-size: var(--font-size-xl);
}

@media(max-width: 640px){
    .secaoGerarValor{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .btnLista{
        flex-direction: column;
        width: 100%;
    }

    .containerTexto h3{
        font-size: var(--font-size-3xl);
    }

    .containerTexto p{
        font-size: var(--font-size-md);
    }
}

@media(max-width: 480px){
    .btnLista{
        width: 80%;
    }

    .containerTexto h3{
        font-size: var(--font-size-2xl);
    }
}

@media(max-width: 380px){
    .containerTexto{
        padding: 0 1rem;
    }
}

@media(max-width: 320px){

    .containerTexto h3{
        font-size: var(--font-size-xl);
    }

    .containerTexto p{
        font-size: var(--font-size-md);
    }
}