.sectionLatoutAdm{
    display: grid;
    grid-template-columns: 18% 1fr;
    grid-template-rows: 8% 100%;
    grid-template-areas: 
        "aside breadcrumb "
        "aside main "
    ;
    overflow-y: hidden;
}

.sectionLatoutAdm aside{
    grid-area: aside;
}

.sectionLatoutAdm nav{
    min-height: 100%;
    grid-area: breadcrumb;
    overflow-y: hidden;
}

.sectionLatoutAdm main{
    grid-area: main;
    margin: 1rem 4rem;
    overflow-y: hidden;
    max-height: 100%;
}

@media(max-width: 1750px){
    .sectionLatoutAdm main{
        margin: 1rem 2rem;
        overflow-x: hidden;
    } 
}

@media(max-width: 1080px){
    .sectionLatoutAdm{
        grid-template-columns:1fr;
        grid-template-rows:1fr;
        grid-template-areas: 
            "breadcrumb "
            "main "
        ;
    }

    .sectionLatoutAdm aside{
        display: none;
    }
}

@media(max-width: 480px){
    .sectionLatoutAdm main{
        margin: 0;
        padding: 1rem;
    } 
}
